.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mod Gelap */
body.dark {
  background-color: #1a202c;
  color: #cbd5e0;
}

.dark .bg-gray-200 {
  background-color: #2d3748;
}

.dark .text-gray-700 {
  color: #cbd5e0;
}

.dark .border-gray-300 {
  border-color: #2d3748;
}

.dark .bg-gray-200:hover {
  background-color: #4a5568;
}

.dark .text-gray-500 {
  color: #a0aec0;
}

.dark .text-gray-300 {
  color: #e2e8f0;
}

.dark .bg-gray-700 {
  background-color: #2d3748;
}

.dark .hover\:bg-gray-600:hover {
  background-color: #4a5568;
}

.dark .border-gray-700 {
  border-color: #4a5568;
}

.dark .bg-white {
  background-color: #1a202c;
}

.dark .bg-gray-900 {
  background-color: #1a202c;
}

.dark .bg-gray-800 {
  background-color: #2d3748;
}

.dark .text-gray-300 {
  color: #e2e8f0;
}

.small-slider {
  width: 50%; /* Ubah saiz slider menjadi lebih kecil */
  margin-left: 10px; /* Pastikan slider tidak terlalu rapat dengan label */
}

